<nav>
    <div class="navbar-nav">
        <a class="nav-link" href="/home">Productos</a>
        <a class="nav-link active cart" href="#">Carrito</a>
        <a class="nav-link" href="/chat">chat</a>
        <a class="nav-link" href="/auth/logout">Logout</a>
    </div>
</nav>


<div class="container">
    <div class="mb-3 w-50">
        <h1>Carrito</h1>
        <div id="cartContainer" class="container">
            {{#each cart.products}}
                <div class="card">
                    <h5 class="card-header text-center"> {{this.product.title}} </h5>
                    <img class="card-image" src="#" alt="{{this.product.title}}">
                    <div class="card-body text-center"> 
                        <em class="card-title"> {{this.product.description}} </em>
                        <p class="card-text text-center"> Código: {{this.product.code}}  </p>
                        <p class="card-text text-center"> Cantidad: {{this.quantity}}  </p>
                        <p class="card-text text-center"> <b> ${{this.product.price}} </b>  </p>
                    </div>
                </div>
            {{/each}}

        </div>
        <div id="totalCart"></div>
        <div id="purchase">
            <a href="#" class="btn btn-outline-success purchase">Comprar</a>
        </div>
    </div>
</div>

<script src="/public/cart.js"></script>
<script>
    const purchaseLink = document.querySelector('.purchase')
    document.addEventListener('DOMContentLoaded', async() => {
        const cart = await getCart()
        purchaseLink.href = `/api/carts/${cart}/purchase`
    })
</script>